<div class="container-fluid" ng-init="init()">
    <div ng-include="'/app/views/modals/create-container-modal.html'"></div>
    <div ng-include="'/app/views/modals/add-host-modal.html'"></div>
    <div class="text-center">
        <button class="glyphicon glyphicon-hdd" data-toggle="modal" data-target="#add-host-modal"></button>
    </div>
    <table class="table table-striped table-bordered table-condensed text-center" ng-repeat="host in hosts"
           ng-controller="hostController" ng-init="init(host, environmentId)">
        <caption>
            <h3>{{host.name}}</h3>
            <h4>({{host.url}})</h4>
            <button class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#create-container-modal"
                    ng-click="setSelectedHost(host)"></button>
        </caption>
        <tbody>
        <tr>
            <td class="col-lg-6" ng-include="'/app/views/tables/running-containers.html'"></td>
            <td class="col-lg-6" ng-include="'/app/views/tables/stopped-containers.html'">
        </tr>
        </tbody>
    </table>
</div>
